<h2>My Cart</h2>
<div>
  <% @line_items.each do |item| %>
    <li><%= item.product.name %></li>
    <li><%= number_to_currency item.product.price %></li>
    <li>Qty: <%= item.quantity %></li>
    <li>Subtotal: <%= number_to_currency item.line_item_total %></li>
  <% end %>
</div>

<div>
  <%= link_to  "Proceed to Checkout?", checkout_path, class: "btn btn-success" %>
</div>